<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <li>peach price is {{peachPrice}} num is <input type="number" v-model="peachNum"></li>
            <li>apple price is {{applePrice}} num is <input type="number" v-model="appleNum"></li>
            <span>total price is {{totalPrice}}</span> <br>
            {{msg}}
        </ul>
    </div>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script>
        let v = new Vue({
            el:"#app",
            data:{
                peachPrice:77,
                applePrice:66,
                peachNum:1,
                appleNum:1,
                msg:''
            },
            computed: {
                totalPrice() {
                    return this.peachPrice*this.peachNum+this.applePrice*this.appleNum;
                }
            },
            watch: {
                appleNum(newVal, oldVal) {
                    alert("oldVal: " + oldVal + "==> newVal: " + newVal)
                    if (newVal >= 3) {
                        this.msg="excess limit"; 
                        this.appleNum=3
                    } else {
                        this.msg=""
                    }
                }
            },

        })
    </script>
    
</body>
</html>